-r requirements.txt
bumpversion==0.5.3
cryptography==1.8.1
flake8==3.3.0
pip==9.0.1
pytest==3.0.7
pytest-cov==2.4.0
pytest-env==0.6.0
PyYAML==3.12
Sphinx==1.5.5
tox==2.7.0
vcrpy==1.10.5
watchdog==0.8.3
wheel==0.29.0
